/* General styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #0f3057, #2a5298);
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Navbar styles */
.navbar {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.top-bar {
    display: flex;
}

.top-bar a {
    color: #1d3557;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s ease, color 0.3s ease;
}

.top-bar a:hover {
    background: #457b9d;
    color: #fff;
}

.login-box {
    margin-right: 10px;
}

.login-box .btn {
    display: inline-block;
    padding: 10px 20px;
    background: #1d3557;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.login-box .btn:hover {
    background: #457b9d;
}

/* Container styles */
.container {
    max-width: 800px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; /* Added margin-bottom to ensure it doesn't touch the bottom */
    flex: 1; /* Flex item to take available space */
}

.holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px; /* Using gap to create space between items */
}

h1 {
    color: #1d3557;
}

h2 {
    color: #1d3557;
}

h6 {
    color: #1d3557;
}

.title_p {
    font-size: 1.1rem;
    font-weight: bold;
}

p {
    color: #1d3557;
    margin-bottom: 20px;
}

/* Content styles */
.content {
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adding gap for spacing */
}

.stats-content {
    min-width: 20ch;
    padding: 20px;
    background: rgba(29, 53, 87, 0.1);
    border-radius: 10px;
    flex: 1; /* Allowing items to grow equally */
}

/* Responsive design */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .top-bar {
        flex-direction: column;
        width: 100%;
    }

    .top-bar a {
        margin: 5px 0;
    }

    .login-box {
        margin-top: 10px;
    }

    .container {
        padding: 20px;
    }

    .content {
        padding: 10px;
    }

    .holder {
        flex-direction: column;
    }
}
