<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_kcal_calculator.css') }}">
</head>
<body>
<div class="navbar">
    <div class="top-bar">
        <a href="{{ url_for('user_page') }}">Home</a>
        <a href="{{ url_for('progress') }}">Progress</a>
        <a href="{{ url_for('stats') }}">Stats</a>
        <a href="{{ url_for('kcal_calculator') }}">Kcal Calculator</a>
        <a href="{{ url_for('my_page') }}">My Page</a>
        <a href="{{ url_for('history') }}">History</a>
    </div>
    <div class="login-box">
        <a class="btn" href="{{ url_for('sign_out') }}">Sign Out</a>
    </div>
</div>
<div class="container">
    <h1>Account Caloric Statistics</h1>
    <div class="content">
        <h2>Caloric stats</h2>
        <div class="holder">
            <div class="calc-content">
                <p class="title_p">Basal Metabolic Rate (BMR):</p>
                <p>{{bmr}} kcal</p>
            </div>
            <div class="calc-content">
                <p class="title_p">Daily Energy Expenditure:</p>
                <p>{{ ttde|safe }} kcal</p>
            </div>
        </div>
    </div>
    <div class="content">
        <h2>Your Current Goal</h2>
        <div class="holder">
            <div class="calc-content">
                <p class="title_p">Current goal:</p>
                <p>{{ kcal_goal }} kcal</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>
