<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_login.css') }}">
</head>
<body>
<div class="wrapper">
    <div class="container">
        <div class="login-box">
            <a href="{{ url_for('home') }}" class="home-btn">Home</a>
            <h1>Login</h1>
            <form action="{{ url_for('login') }}" method="POST">
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Login</button>
            </form>
            <p style="color: red;">{{ wrong_login }}</p>
            <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
        </div>
    </div>
</div>
</body>
</html>
