<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_my_page.css') }}">
</head>
<body>
<div class="navbar">
    <div class="top-bar">
        <a href="{{ url_for('user_page') }}">Home</a>
        <a href="{{ url_for('progress') }}">Progress</a>
        <a href="{{ url_for('stats') }}">Stats</a>
        <a href="{{ url_for('kcal_calculator') }}">Kcal Calculator</a>
        <a href="{{ url_for('my_page') }}">My Page</a>
        <a href="{{ url_for('history') }}">History</a>
    </div>
    <div class="login-box">
        <a class="btn" href="{{ url_for('sign_out') }}">Sign Out</a>
    </div>
</div>
<div class="container">
    <h1>My Page</h1>
    <div class="content">
        <div class="holder">
            <div class="header-holder">
                <h3>Username</h3>
            </div>
            <div class="my-page-content">
                <!-- Your stats content goes here -->
                <p>{{ username }}</p>
            </div>
        </div>
        <div class="holder">
            <div class="header-holder">
                <h3>Email</h3>
            </div>
            <div class="my-page-content">
                <!-- Your stats content goes here -->
                <p>{{ email }}</p>
            </div>
        </div>
        <div class="holder">
            <div class="header-holder">
                <h3>Gender</h3>
            </div>
            <div class="my-page-content">
                <!-- Your stats content goes here -->
                <p>{{ gender }}</p>
            </div>
        </div>
        <div class="holder">
            <div class="header-holder">
                <h3>Age</h3>
            </div>
            <div class="my-page-content">
                <!-- Your stats content goes here -->
                <p>{{ age }}</p>
            </div>
        </div>
        <div class="holder">
            <div class="header-holder">
                <h3>Height</h3>
            </div>
            <div class="my-page-content">
                <!-- Your stats content goes here -->
                <p>{{ height }}</p>
            </div>
        </div>
        <div class="holder">
            <div class="header-holder">
                <h3>Mass</h3>
            </div>
            <div class="my-page-content">
                <!-- Your stats content goes here -->
                <p>{{ mass }}</p>
            </div>
        </div>
        <div class="holder">
            <div class="header-holder">
                <h3>Activity Level</h3>
            </div>
            <div class="my-page-content">
                <!-- Your stats content goes here -->
                <p>{{ activity_level }}</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
