<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_progress.css') }}">
</head>
<body>
<div class="navbar">
    <div class="top-bar">
        <a href="{{ url_for('user_page') }}">Home</a>
        <a href="{{ url_for('progress') }}">Progress</a>
        <a href="{{ url_for('stats') }}">Stats</a>
        <a href="{{ url_for('kcal_calculator') }}">Kcal Calculator</a>
        <a href="{{ url_for('my_page') }}">My Page</a>
        <a href="{{ url_for('history') }}">History</a>
    </div>
    <div class="login-box">
        <a class="btn" href="{{ url_for('sign_out') }}">Sign Out</a>
    </div>
</div>
<div class="container">
    <h1>Progress</h1>
    <div class="content">
        <div class="holder">
            <div class="progress-content">
                <!-- Your stats content goes here -->
                <p>Progress Graph</p>
                 <img src="static/plots_saved_to_display/{{ progress_png }}" alt="Description of image">
            </div>
        </div>
        <h1>ADD PROGRESS</h1>
        <div class="holder">
            <div class="progress-content">
                <!-- Your stats content goes here -->
                <p></p>
                 <div class="form-container">
                        <form action="{{ url_for('progress') }}" method="POST">
                            <label for="infoInput">Enter Information:</label>
                            <input type="number" id="infoInput" name="inputNumber" required>

                            <label for="selectOptions">Choose an Option:</label>
                            <select id="selectOptions" name="selectOptions" size="2" required>
                                <option value="mass">mass</option>
                                <option value="pr_chest">pr_chest</option>
                            </select>

                            <button type="submit">Submit</button>
                        </form>
                    </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>
