<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_stats.css') }}">
</head>
<body>
<div class="navbar">
    <div class="top-bar">
        <a href="{{ url_for('user_page') }}">Home</a>
        <a href="{{ url_for('progress') }}">Progress</a>
        <a href="{{ url_for('stats') }}">Stats</a>
        <a href="{{ url_for('kcal_calculator') }}">Kcal Calculator</a>
        <a href="{{ url_for('my_page') }}">My Page</a>
        <a href="{{ url_for('history') }}">History</a>
    </div>
    <div class="login-box">
        <a class="btn" href="{{ url_for('sign_out') }}">Sign Out</a>
    </div>
</div>
<div class="container">
    <h1>Account Statistics</h1>
    <div class="content">
        <h2>Total Daily Energy Expenditure</h2>
        <div class="holder">
            <div class="stats-content">
                <!-- Your stats content goes here -->
                <p class="title_p">Your Total Daily Energy Expenditure</p>
                <p>{{ ttde|safe }}</p>
            </div>
        </div>
        <h2>Streaks</h2>
        <div class="holder">
            <div class="stats-content">
                <!-- Your stats content goes here -->
                <p class="title_p">Best streak</p>
                <p>{{ best_streak }}</p>
            </div>
            <div class="stats-content">
                <!-- Your stats content goes here -->
                <p class="title_p">Current streak</p>
                <p>{{ current_streak }}</p>
            </div>
            <div class="stats-content">
                <!-- Your stats content goes here -->
                <p class="title_p">Days on site</p>
                <p>{{ days_when_on_site }}</p>
            </div>
        </div>
        <h2>Creation date</h2>
        <div class="holder">
            <div class="stats-content">
                <!-- Your stats content goes here -->
                <p class="title_p">Account created on:</p>
                <p>{{account_created_date}}</p>
            </div>
            <div class="stats-content">
                <!-- Your stats content goes here -->
                <p class="title_p">Days from account creation:</p>
                <p>{{ days_from_account_creation }}</p>
            </div>
        </div>

    </div>
</div>
</body>
</html>
