<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_user_page.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>  <!-- library for chart generation -->
</head>
<body>
<div class="navbar">
    <div class="top-bar">
        <a href="{{ url_for('user_page') }}">Home</a>
        <a href="{{ url_for('progress') }}">Progress</a>
        <a href="{{ url_for('stats') }}">Stats</a>
        <a href="{{ url_for('kcal_calculator') }}">Kcal Calculator</a>
        <a href="{{ url_for('my_page') }}">My Page</a>
        <a href="{{ url_for('history') }}">History</a>
    </div>
    <div class="login-box">
        <a class="btn" href="{{ url_for('sign_out') }}">Sign Out</a>
    </div>
</div>
<div class="container">
    <div class="content">
        <div class="section">
            <h1>Welcome back, {{ username }}</h1>
            <div class="top">
                <div class="graph-holder">
                    <canvas id="calories-chart"></canvas>
                </div>

                <div class="calories-display">{{ calories }} / {{ goal }}</div>
                <input type="hidden" id="calories" value="{{ calories }}">
                <input type="hidden" id="goal" value="{{ goal }}">
            </div>
            <div class="adjust-btn-holder">
                <button id="adj-btn">Adjust your goal</button>
            </div>
        </div>
        <div class="section">
            <h1>Add your calories</h1>
            <div class="add-form-holder">
                <form action="{{ url_for('add_user_calories') }}" method="post">
                    <label for="add">+</label>
                    <input id="add" type="number" placeholder="kcal" min="0" max="2147483647" name="kcal_count" required>
                    <button type="submit" id="add-btn">Add</button>
                </form>
            </div>
        </div>
        {% if calories_records %}
            <div class="section">
                <div class="calories-records-holder">
                    <ul>
                        {% for entry in calories_records %}
                            <li>
                                <p>+{{ entry.kcal_count }} kcal</p>
                                <p> {{  entry.entry_date.strftime('%H:%M') }}</p>
                                <button class="delete-btn" data-entry-id="{{ entry.id }}">🗑️</button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
</div>

<div id="goal-modal" class="modal">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <h2>Adjust Your Calorie Goal</h2>
        <form id="goal-form" action="{{ url_for('update_goal') }}" method="post">
            <div>
                <label for="new-goal">New Goal:</label>
                <input id="new-goal" type="number" placeholder="Enter new goal" min="0" required name="goal">
            </div>
            <div>
                <label for="goal-type">Goal Type:</label>
                <select id="goal-type" name="goal_type" class="goal-type-selector">
                    <option value="bulk">Bulk</option>
                    <option value="cut">Cut</option>
                </select>
            </div>
            <div class="submit-button-holder">
                <button type="submit">Update Goal</button>
            </div>
        </form>
    </div>
</div>

<script src="{{ url_for('static', filename='js/user_page.js') }}"></script>

</body>
</html>
